@font-face {
    font-family: Bender;
    src: url("fonts/Bender.otf") format("opentype");
}

@font-face {
    font-family: Bender;
    font-weight: bold;
    src: url("fonts/Bender-Bold.otf") format("opentype");
}

@font-face {
    font-family: Bender;
    font-weight: 300;
    src: url("fonts/Bender-Light.otf") format("opentype");
}

:root {
    --main-color: #998766;
    --main-color-hover: #b6a689;
    --main-color-bg: #998766;
    --main-color-bg-active: #685a40;
    --switch-main-color: #fff;
    --text-color: #aeaeb0;
    --link-natural: #fff;
    --background-color: #0e0e0e;
    --darkest-bg: #010409;
    --dark-bg: #0c0c0c;
    --cool-bg: #242424;
    --medium-bg: #1c1b18;
    --content-bg: rgb(0 0 0 / 16%);
    --content-bg-light: rgb(179 179 179 / 6%);
    --toolbar-bg: rgb(255 216 128 / 5%);
    --modal-bg: rgb(23 23 23 / 44%);
    --subtle-bg: rgb(197 218 255 / 4%);
    --checkmark-color: #4cd574;
    --bright-color: #abaa9f;
    --brighter-color: #efedda;
    --box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5), 0 5px 10px -3px rgb(0 0 0 / 75%);
    --list-item: #161616;
    --header-bg: #000;
    --br-sm: 0.3rem;
    --br-med: 0.5rem;
    --br-lg: 0.7rem;
    --border-color: #31312c;
    --white: #fff;
    --input-bg: #000;
    --card-shadow: 0 0 0 1px #282c33;
    --card-shadow-hover: 0 10px 30px 0 rgb(0 0 0 / 15%), 0 30px 30px rgb(0 0 0 / 12%), 0 15px 15px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 14%), 0 4px 4px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 8%);
    --glow-box-shadow: 0 0 100px #5d513763, 0 0 6px rgb(255 227 173 / 30%);
    --small-glow-box-shadow: 0 0 30px rgba(65, 61, 52, .53), 0 0 4px rgba(232, 190, 107, .24);
    --cm-number: #d5b644;
    --cm-boolean: #ffa884;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    line-height: 1.6rem;
    color: var(--text-color);
    font-family: "Bender", sans-serif;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004) !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s all linear;
}

a:hover {
    color: var(--main-color-hover);
}

.hidden {
    display: none;
}

.strong {
    font-weight: bold;
}

figure {
    margin: 0;
}

img.small-glow {
    box-shadow: var(--small-glow-box-shadow);
}

ul.no-st,
ol.no-st {
    padding: 0;
    margin: 0;
    list-style: none;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='reset']):not([type='button']):not([type='file']),
textarea {
    background-color: var(--input-bg);
    border: none;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    transition: .2s all linear;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']):not([type='reset']):not([type='button']):not([type='file'])::placeholder,
textarea::placeholder {
    color: var(--text-color);
}

[data-tooltip] {
    position: relative;
    z-index: 99999;
}

a[data-tooltip] {
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);

    transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.22s ease-out;

    @starting-style {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
    }
}

[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -100px;
    padding: 7px;
    width: 200px;
    border-radius: 3px;
    background-color: var(--darkest-bg);
    color: var(--text-color);
    content: attr(data-tooltip);
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid var(--darkest-bg);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.form-control:focus {
    box-shadow: inset 0 0 0 2px var(--bright-color) !important;
}

.input-control {
    position: relative;
}

.animate-in {
    animation-name: inAni;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
}

.input-control .input-search-icon {
    position: absolute;
    left: 1rem;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    opacity: 0.5;
}

.btn:not(.btn-group .btn.sm),
.btn:not(.btn-group .btn.sm):focus {
    background-color: var(--main-color) !important;
    color: var(--background-color) !important;
    border: none !important;
    border-radius: var(--br-sm);
}

.btn:not(.btn-group .btn.sm):hover {
    background-color: var(--main-color-hover) !important;
    color: var(--background-color) !important;
    border: none !important;
}

.btn:not(.btn-group .btn.sm):active {
    background-color: var(--main-color-bg-active) !important;
    color: var(--background-color) !important;
    border: none !important;
}

.btn.btn-outline-info,
.btn.btn-outline-info:focus {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: transparent;
}

.btn.btn-outline-info:hover {
    color: var(--background-color);
    background-color: var(--main-color);
}

.btn.btn-outline-info:active {
    border-color: var(--main-color-bg);
    background-color: var(--main-color-bg-active);
}

.list-group {
    border-color: var(--border-color);
}

ul li,
ol li {
    margin-bottom: 0.4rem;
}

.btn-group {
    display: flex;
    align-items: center;
    background-color: var(--content-bg);
    color: var(--bright-color);
    padding: 4px;
    border-radius: 0.3rem;
    gap: 0.4rem;
}

.btn-group.inactive {
    opacity: 0.2;
}

.btn-group.inactive > a {
    cursor: default;
    pointer-events: none;
}

.btn-group > i {
    padding: 4px 12px 4px 4px;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--bright-color);
    margin: 0;
    position: relative;
}

.btn-group > i::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--background-color);
}

.btn-group > a {
    padding: 4px 7px;
    background-color: transparent;
    color: var(--bright-color);
    margin: 0;
    border-radius: 0.15rem;
}

.btn-group .btn.active {
    color: var(--background-color);
    background-color: var(--main-color);
    border-radius: 3px !important;
}

.flex-box {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: fit-content;
    background-color: var(--list-item);
    padding: 0.2rem 0.8rem 0.2rem 0.2rem;
    border-radius: var(--br-sm);
}

.flex-box .icon.warning {
    background-image: url(../img/notification_icon_alert.png);
    width: 30px;
    height: 29px;
}

.flex-box .icon.warning-green {
    background-image: url(../img/notification_icon_alert_green.png);
    width: 30px;
    height: 29px;
}

.flex-box .icon.warning-red {
    background-image: url(../img/notification_icon_alert_red.png);
    width: 30px;
    height: 29px;
}

.pagination {
    margin: 0.5rem 0 0;
    display: inline-flex;
    user-select: none;
}

.pagination .page-item {
    margin: 0;
}

.page-link {
    background-color: var(--content-bg);
    border-color: var(--border-color);
    color: var(--text-color);
}

.page-link:hover {
    background-color: transparent;
    color: var(--brighter-color);
    border-color: var(--border-color);
}

.page-top-title {
    margin-bottom: 0.5rem;
}

.page-top-title h4 {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--bright-color);
    margin: 0;
}

.page-top-title:has(img) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card {
    background-color: var(--list-item);
    border-radius: var(--br-lg);
    border: none;
    background-image: url(../img/news_li_bg.png);
}

#cardsMt:hover > .card-bfx::after,
#cardsTut:hover > .card-bfx::after,
#browseItems:hover > .card-bfx::after,
#recentSearches:hover > .card-bfx::after {
    opacity: 1;
}

.card-bfx {
    background-color: var(--border-color);
    border-radius: var(--br-lg);
    display: flex;
    border: none;
    flex-direction: column;
    position: relative;
    padding: 1px;
}

.card-bfx:hover::before {
    opacity: 1;
}

.card-bfx::before,
.card-bfx::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
}

.card-bfx::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.04),
            transparent 40%);
    z-index: 4;
}

.card-bfx::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%);
    z-index: 1;
}

.card-bfx > .card-body {
    background-color: var(--list-item);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 3;
    padding: 1rem;
    position: relative;
}

caption {
    color: var(--bright-color);
}

.card-title {
    color: var(--text-color);
}

.accordion {
    background-color: transparent;
}

.accordion-item,
.accordion-button {
    background-color: var(--content-bg-light);
}

.accordion-button:not(.collapsed) {
    color: initial;
    background-color: var(--content-bg);
}

.accordion-button::after {
    filter: saturate(0);
}

span.global-id {
    display: inline-block;
    background: var(--darkest-bg);
    padding: 0 0.3rem;
    width: fit-content;
    border-radius: 0.2rem;
    position: relative;
    color: var(--bright-color);
    cursor: pointer;
    transition: 0.2s all linear;
}

span.global-id.disabled {
    cursor: default;
    pointer-events: none;
    background: var(--dark-bg);
}

span.global-id.title {
    margin-bottom: 0 !important;
    padding: 0;
    background: transparent;
}

span.global-id:hover {
    color: var(--brighter-color);
}

span.global-id.copied {
    background-color: #8a9697;
    color: var(--darkest-bg)
}

span.global-id:hover::after {
    content: '\F759';
    font-family: 'Bootstrap-icons';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    right: -1rem;
    top: 0;
}

span.global-id.copied::after {
    content: '\F26D';
    font-family: 'Bootstrap-icons';
    position: absolute;
    width: 37px;
    color: transparent;
    height: 31px;
    border-radius: 0;
    right: -36px;
    top: -3px;
    background-image: url(../img/blue_check.png);
}

.kofi {
    background: url(../img/kofi_button_red.webp) no-repeat;
    background-size: contain;
    width: 241px;
    height: 37.9px;
    display: inline-block;
}

.list-group-item {
    color: var(--text-color);
    position: relative;
    border-color: var(--border-color);
    background-color: var(--content-bg);
    margin-bottom: 0;
}

.handbook-side .list-group-item {
    display: flex;
    flex-direction: column;
}

.table > :not(caption) > * > * {
    color: var(--text-color);
    background-color: transparent;
    border-color: var(--border-color);
}

.table > tbody {
    border-color: var(--bright-color);
}

.no-select {
    user-select: none;
}

.json-edit-btn {
    opacity: 0.5;
    transition: .2s all linear;
    margin-left: 5px;
    position: relative;
}

.json-edit-btn:hover {
    opacity: 1;
}

.json-edit-btn .bi {
    position: relative;
}

.json-edit-btn .bi.copied::after {
    content: '\F26D';
    font-family: 'Bootstrap-icons';
    position: absolute;
    width: 30px;
    color: transparent;
    height: 24px;
    background-size: contain;
    border-radius: 0;
    right: -30px;
    top: -3px;
    background-image: url(../img/blue_check.png);
    animation-name: inAniLeft;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.CodeMirror-code > div:hover {
    background-color: var(--subtle-bg);
}

.modal-content {
    background-color: var(--modal-bg);
    backdrop-filter: blur(20px);
}

.page-wrap {
    position: relative;
    min-height: 100vh;
}

.navbar {
    position: relative;
    background-color: var(--header-bg);
    box-shadow: var(--glow-box-shadow);
}

.navbar > .container-fluid {
    z-index: 1;
}

.navbar-nav .nav-item {
    margin-bottom: 0;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.show,
.dropdown-item {
    color: var(--main-color);
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show:hover {
    color: var(--main-color-hover)
}

.navbar-nav .nav-link.active {
    color: var(--white)
}

.navbar-nav .dropdown-menu {
    background-color: var(--list-item);
    box-shadow: var(--box-shadow);
    border: none;
}

.navbar-text {
    display: flex;
    gap: 1rem;
}

.navbar-brand {
    color: var(--white);
    font-size: 1.5rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--main-color-hover);
    background-color: var(--content-bg-light);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--main-color-bg);
    color: var(--darkest-bg);
}

.active > .page-link,
.page-link.active {
    background-color: var(--main-color-bg);
    border-color: var(--main-color);
    color: var(--darkest-bg);
}

#breadcrumb,
#templateContainer,
#handbookContainer,
#browseContainer {
    display: none;
}

#itemSearch {
    will-change: transform, opacity;
    padding: 1.5rem 0;
    position: relative;
    animation: inAni 0.5s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
}

#itemSearchInput {
    padding: .5rem 1rem .5rem 3.2rem;
    transition: all 0.3s linear;
}

.search-container {
    position: relative;
    display: inline-block;
}

#browseNavLink {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    border-radius: var(--br-sm);
    z-index: 2;
    cursor: pointer;
    padding: 0.34rem 0.6rem;
    display: flex;
    align-items: center;
    background-color: var(--list-item);
    transition: all 0.3s linear;
    color: var(--brighter-color);
    border: none;
}

#browseNavLink.active {
    border: none;
    color: var(--main-color);
    background-color: var(--input-bg);
}

#browseNavLink.active:before,
#browseNavLink.active:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

#browseNavLink.active:before {
    animation: rainbow-border 3s linear infinite;
    border-radius: 50%;
    background: linear-gradient(70deg, #fff20e, #000000, #e4d963, #ffde95, #eeff0e, #000000, #ddff60, #FFEB3B);
    width: 100%;
    height: 100%;
    background-size: 200% 200%;
    filter: blur(5px);
    opacity: 0.5;
}

#browseNavLink.active:after {
    border-radius: 3px;
    margin: 3px;
    background: inherit;
    filter: blur(5px);
}

.searchResults {
    display: none;
    background-color: transparent;
    width: 100%;
}

.searchResults:has(.list-group-item) {
    margin-top: 1rem;
}

.searchResults .list-group-item {
    will-change: transform, opacity;
    cursor: pointer;
    background-color: var(--list-item);
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s ease-in-out;
}

.searchResults .list-group-item.show {
    opacity: 1;
    transform: translateY(0px);
}

.searchResults .list-group-item:hover {
    background-color: var(--cool-bg);
}

#activity {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    right: 1rem;
    top: 0.6rem;
    z-index: 99999;
    display: none;
}

#activityContent {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
}

.loader {
    will-change: transform;
    width: 100%;
    height: 100%;
    border: 5px solid var(--darkest-bg);
    border-bottom-color: #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loader 1s linear infinite;
}

.component-container .body {
    padding: 2rem 1.5rem;
}

.head-nav {
    padding: 1.5rem;
    background: var(--toolbar-bg);
}

#mainSearch {
    position: relative;
}

#toggleNav {
    position: absolute;
    right: 4rem;
    top: 0.2rem;
    z-index: 2;
}

#breadcrumb {
    will-change: transform, opacity;
    padding: 0.3rem 1.5rem;
    font-size: 14px;
    color: var(--bright-color);
    text-transform: capitalize;
    animation: inAni 0.5s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 250ms;
}

.breadcrumb-container {
    display: flex;
    gap: 0.4rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.breadcrumb-container .bi {
    font-size: 0.66rem;
    transform: translateY(0.1rem);
    color: var(--border-color);
}

#itemInfo {
    will-change: transform, opacity;
    animation: inAni 0.5s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 350ms;
}

.container-fluid {
    padding: 0 1.5rem;
}

#templateContainer {
    will-change: transform, opacity;
    animation: inAni 0.5s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
}

#templateContent {
    padding: 1rem 1.5rem 3rem;
}

#templateContent .CodeMirror {
    height: auto;
}

#templateContent .cm-s-moxer.CodeMirror {
    border-radius: 0.5rem;
}

#handbookContainer {
    will-change: transform, opacity;
    animation: inAni 0.5s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
}

#handbookContainer .body {
    padding: 1rem 1.5rem 5rem;
}

#handbookLoad {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#handbookLoad .loader {
    width: 100px;
    height: 100px;
}

#handbookContainer .handbook-item {
    gap: 2rem;
    flex-direction: row-reverse;
}

.handbook-item .top {
    display: flex;
    gap: 2rem;
}

.handbook-side {
    width: 400px;
}

.handbook-item .used-in:has(figure),
.handbook-item .main,
.handbook-item .categories:has(figure) {
    padding: 1rem;
    background-color: var(--list-item);
    background-image: url(../img/news_li_bg.png);
    border-radius: var(--br-lg);
    margin-bottom: 1.2rem;
}

.handbook-item .main {
    flex: 1;
}

.handbook-item .main .slots-filter:has(>div) {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.handbook-item .main .slots-filter .slot {
    background-color: var(--content-bg-light);
    padding: 1rem;
    border-radius: var(--br-med);
}

.handbook-item .main .slots-filter .slot .break {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

.handbook-item .main .slots-filter .slot .items {
    display: grid;
    column-gap: 0.7rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

.handbook-item .main .slots-filter .slot .items img {
    cursor: pointer;
}

.handbook-item .main.armor-exist::before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20px;
    height: 19px;
    background-size: cover;
    background-position: center;
}

.handbook-item .main.armor-exist.armor-class-1::before {
    background: url(../img/armor-class-1.png);
}

.handbook-item .main.armor-exist.armor-class-2::before {
    background: url(../img/armor-class-2.png);
}

.handbook-item .main.armor-exist.armor-class-3::before {
    background: url(../img/armor-class-3.png);
}

.handbook-item .main.armor-exist.armor-class-4::before {
    background: url(../img/armor-class-4.png);
}

.handbook-item .main.armor-exist.armor-class-5::before {
    background: url(../img/armor-class-5.png);
}

.handbook-item .main.armor-exist.armor-class-6::before {
    background: url(../img/armor-class-6.png);
}

.handbook-image {
    background: radial-gradient(#32322f 0%, black 70%, black 80%);
    border-radius: 0.6rem;
    position: relative;
    overflow: hidden;
    min-width: 500px;
    text-align: center;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.handbook-image .stripes {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #ffffff 10px, #ffffff 20px), linear-gradient(to bottom, #000, #000);
    position: absolute;
    z-index: 1;
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.handbook-image .flea-ban {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 4;
}

.handbook-image > img {
    position: relative;
    z-index: 3;
    max-width: 100%;
}

.blockquote-footer {
    margin-top: 0;
    color: var(--bright-color);
}

.handbook-item .links {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.handbook-barters {
    display: flex;
    gap: 1rem;
}

.handbook-item .slots {
    display: flex;
    justify-content: flex-start;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.handbook-item .preset-available {
    display: flex;
    margin-bottom: 1rem;
    background-color: var(--content-bg-light);
    padding: 1rem;
    flex-direction: column;
    border-radius: var(--br-med);
}

.handbook-item .preset-available .blockquote-footer {
    margin: 0;
}

.handbook-item .preset-available .preset-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#recentSearches {
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    animation-name: inAni;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 250ms;
}

#browseContainer {
    will-change: transform, opacity;
    animation: inAni 0.5s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
}

#browseContent {
    padding: 1rem 1.5rem 3rem;
}

.browse-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#browseSidebar {
    min-width: 200px;
    overflow: hidden;
    border-radius: var(--br-sm);
}

#browseSidebar .browse-category {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    color: var(--brighter-color);
    border-top: 1px solid var(--list-item);
    background-color: var(--header-bg);
    transition: .2s all linear;
}

#browseSidebar .browse-category:first-child {
    border: none;
}

#browseSidebar .browse-category:hover {
    background-color: var(--content-bg-light);
}

#browseSidebar .browse-category.active {
    background-color: var(--main-color-bg);
    color: var(--darkest-bg);
}

#browseItems {
    flex: 1;
    background-color: var(--bs-border-radius);
    border-top-right-radius: var(--br-lg);
    border-bottom-right-radius: var(--br-lg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    align-items: start;
    grid-auto-rows: max-content;
}

#browseItems .search-filter {
    grid-column: 1 / 4;
    display: inline-flex;
    justify-content: flex-end;
}

#browseItems .break {
    grid-column: 1 / 4;
    margin-top: 1rem;
}

#browseSearchInput {
    height: 100%;
    border-radius: var(--br-sm);
    padding: 0.5rem 0.8rem;
    border: 2px solid var(--border-color);
}

#browseItems .card-body,
#recentSearches .last-search-item .card-body {
    flex-direction: row;
    gap: 0.7rem;
    color: var(--brighter-color);
    align-items: center;
}


#browseItems .browse-item .item-title,
#recentSearches .last-search-item .title {
    transform: translateY(-2px);
}

#browseItems .browse-item h4,
#recentSearches .last-search-item h4 {
    font-size: 1.2rem;
    margin: 0;
}

#browsePagination {
    grid-column: 1 / -1;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

#browsePagination .pagination {
    margin: 0;
}

#craftsContainer .body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#craftsContainer .body > div {
    margin: 0;
    display: inline-block;
}

.required-items {
    border-radius: 0.5rem;
    margin: 0 0 1rem;
    border: 1px dashed var(--border-color);
}

a.toggle-req-items {
    color: var(--brighter-color);
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 0.6rem 1rem;
}

.req-items-list {
    margin-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.req-items-list.expanded {
    max-height: 500px;
    padding-right: 0.7rem;
}

.req-items-list.expanded .req-item .req-item-containter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#craftsContainer .craft-item {
    background-color: var(--list-item);
    border-radius: 0.7rem;
    padding: 1.4rem;
}

#craftsContainer .craft-item .title {
    display: flex;
    gap: 1.3rem;
    align-items: flex-start;
    margin-bottom: 1.2rem;
}

#craftsContainer .craft-item h4 {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}

#craftsContainer .craft-item .item-title p {
    margin: 0;
}

#commonIdContainer .body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#commonIdContainer .table-responsive {
    padding: 1rem 1.5rem;
}

#resourcesContainer .title {
    margin: 2rem 0;
    display: inline-block;
    width: 100%;
}

#resourcesContainer .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    margin-bottom: 2rem;
}

#resourcesContainer .links .card-body.github::before,
#resourcesContainer .links .card-body.discord::before,
#resourcesContainer .links .card-body.web::before,
#resourcesContainer .links .card-body.video::before {
    position: absolute;
    font-size: 5rem;
    font-family: 'Bootstrap-icons';
    opacity: 0.1;
    color: var(--brighter-color);
    display: table-cell;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 1.6rem;
    margin-left: -0.4rem;
    transition: all 0.2s linear;
}

#resourcesContainer .links .card-body.github::before {
    content: "\F3ED";
}

#resourcesContainer .links .card-body.discord::before {
    content: "\F300";
}

#resourcesContainer .links .card-body.web::before {
    content: "\F3EE";
}

#resourcesContainer .links .card-body.video::before {
    content: "\F21F";
}

#resourcesContainer .links .card-body:hover::before {
    opacity: 0.4;
}

#resourcesContainer .links .card-title {
    margin-left: 7rem;
    margin-bottom: 0.5rem;
}

#resourcesContainer .links .card-text {
    color: var(--brighter-color);
    font-size: .9rem;
    margin-left: 7rem;
}

#achievementsContainer .body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#achievementsContainer .card {
    padding: 1rem;
    position: relative;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#achievementsContainer .card > img {
    height: 100px;
}

#achievementsContainer .card.ach-hidden::before {
    content: "\F340";
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-family: 'Bootstrap-icons';
    font-size: 1.4rem;
}

#achievementsContainer .card.common {
    background-color: #303b48;
}

#achievementsContainer .card.rare {
    background-color: #402453;
}

#achievementsContainer .card.legendary {
    background-color: #813c26;
}

#questMaps {
    padding: 1rem 2rem 0;
    text-align: right;
}

#selectMap {
    animation-delay: 250ms;
}

.json-quests {
    display: none;
    padding: 2rem 1.5rem;
}

.json-quests-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.json-quests .close-btn {
    font-size: 2rem;
}

.json-quests .cm-s-mbo.CodeMirror {
    height: auto;
}

#questsContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    animation-delay: 500ms;
}

#questsContent .card {
    overflow: hidden;
    justify-content: space-between;
}

#questsContent .card-body {
    display: flex;
    gap: 1rem;
    flex: 0;
}

#questsContent .card-body .map {
    display: flex;
    position: relative;
}

#questsContent .card-body .map::before {
    content: "";
    width: 29px;
    height: 25px;
    margin-right: 0.3rem;
    transform: translateY(-1px);
    background: url(../img/handbook/icon_maps.png);
    background-size: cover;
    background-position: center;
}

#questsContent .card-body img {
    width: 100%;
    max-width: 200px;
}

#questsContent .objectives {
    padding-left: 3rem;
    flex: auto;
}

#questsContent .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.generate-single {
    will-change: transform, opacity;
    animation: inAni 0.5s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
}

.generate-single .single-body {
    padding: 2rem 1.5rem;
    background: var(--toolbar-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.generate-single .single-body h3 {
    font-weight: bold;
    font-size: 3rem;
}

.generate-single #idGenOutput {
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    min-width: 300px;
    min-height: 48px;
}

.generate-single #idGenOutput:hover::after {
    right: -1.5rem;
    top: 0.7rem;
}

.generate-single #idGenOutput.copied::after {
    right: -2.6rem;
    top: 0.6rem;
}

.bubbly-button {
    display: inline-block;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    margin: 2rem 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1b8b73;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(0, 255, 221, 0.2);
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1b8b73 20%, transparent 30%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1b8b73 15%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1b8b73 15%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%), radial-gradient(circle, #1b8b73 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.95);
    background-color: #156d5a;
    box-shadow: 0 2px 25px rgba(0, 255, 221, 0);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

#bulkContainer .header .input-group {
    margin-bottom: 2rem;
    will-change: transform, opacity;
    animation: inAni 0.5s ease;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
}

#bulkContainer .header .input-group #objectIds {
    padding: 0.6rem 1rem;
}

#bulkContainer .bulk-output:has(div) {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 2rem;
    background-color: var(--list-item);
    border-radius: var(--br-lg);
}

#bulkContainer .bulk-output-tools {
    margin-top: 2rem;
}


.main-app {
    padding: 0;
    padding-bottom: 5rem;
    flex: 1;
}

#welcomeMessage {
    background-color: var(--medium-bg);
}

#welcomeMessage .blockquote-footer {
    margin: 0;
}

footer {
    background-color: var(--header-bg);
    padding: 1rem 0;
}

footer .row {
    align-items: center;
}

footer .text-end {
    display: flex;
    justify-content: flex-end;
}

.cm-s-mbo.CodeMirror {
    background: #1e1e1e;
    color: var(--text-color);
}

.cm-s-mbo .CodeMirror-gutters {
    background: #151515;
    padding-right: 0.1rem;
    border-right: 1px solid var(--border-color);
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    padding-left: 0.7rem;
}

.cm-s-mbo .CodeMirror-linenumber {
    color: var(--bright-color);
}

.cm-s-mbo span.cm-string.cm-property {
    color: var(--bright-color);
}

.cm-s-mbo span.cm-string {
    color: var(--brighter-color);
}

.cm-s-mbo span.cm-number {
    color: var(--cm-number);
}

.cm-s-mbo span.cm-atom {
    color: var(--cm-boolean);
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes inAni {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes inAniLeft {
    0% {
        transform: translateX(-5px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rainbow-border {
    0% {
        background-position: 0% 50%;
        transform: rotate(0deg);
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 200% 50%;
        transform: rotate(360deg);
    }
}


@media (min-width: 1800px) {}

@media (min-width: 1800px) {
    #questsContent {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 1300px) {

    #templateContent,
    .component-container .body,
    #browseContent,
    .search-container,
    #handbookContainer .body,
    #questMaps,
    .head-nav,
    #breadcrumb {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #recentSearches {
        padding: 3rem 3rem;
    }

    #itemSearch {
        padding: 3rem 0 1rem;
    }

    #bulkContainer .bulk-output:has(div) {
        grid-template-columns: repeat(4, 1fr);
    }

    #resourcesContainer .links {
        grid-template-columns: repeat(3, 1fr);
    }

    .handbook-item .main {
        padding: 2rem;
    }
}

@media (max-width: 1340px) {
    .handbook-item .top {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    #recentSearches {
        grid-template-columns: repeat(2, 1fr);
    }

    #browseItems {
        grid-template-columns: repeat(2, 1fr);
    }

    #browseItems .break {
        grid-column: 1 / 3;
    }

    #browseItems .search-filter {
        grid-column: 1 / 3;
    }

    #achievementsContainer .body {
        grid-template-columns: repeat(2, 1fr);
    }

    .handbook-image {
        min-width: 300px;
    }

    .handbook-side {
        width: 300px;
    }
}

@media (max-width: 1000px) {
    .main-app {
        padding: 0;
    }

    #breadcrumb {
        display: none !important;
    }

    #browseSidebar {
        min-width: auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0;
        max-width: 100%;
        gap: 0.5rem;
    }

    #browseSidebar .browse-category {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
        border-radius: var(--br-sm);
        border: none;
    }

    #browseItems .break {
        grid-column: auto;
    }

    #browseItems .search-filter {
        grid-column: auto;
    }

    .browse-container {
        gap: 1rem;
        flex-direction: column;
    }

    #handbookContainer .body > div {
        flex-direction: column;
    }

    .handbook-image {
        display: flex;
        justify-content: center;
        min-width: 100%;
    }

    .handbook-side {
        max-width: 100%;
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    .handbook-side > div {
        width: 100%;
    }

    #browseItems {
        grid-template-columns: repeat(1, 1fr);
    }

    #craftsContainer .body {
        grid-template-columns: repeat(2, 1fr);
    }

    #craftsContainer .head-nav {
        padding: 1rem;
    }

    #craftsContainer .head-nav .btn-primary {
        font-size: 84%;
        display: flex;
        align-items: center;
    }

    #craftsContainer .craft-item {
        padding: 1.2rem;
    }

    #commonIdContainer .body {
        grid-template-columns: repeat(1, 1fr);
    }

    #commonIdContainer .table-responsive {
        padding: 0.5rem 1rem;
    }

    #resourcesContainer .links {
        grid-template-columns: repeat(1, 1fr);
    }

    #bulkContainer .bulk-output:has(div) {
        grid-template-columns: repeat(2, 1fr);
    }

    #questsContent {
        grid-template-columns: repeat(1, 1fr);
    }

    #traderQuests .filters {
        flex-wrap: wrap;
    }

    #questsContent .card-body {
        flex-direction: column;
    }

    #questsContent .card-body img {
        max-width: 100%;
    }

    #questsContent .card-footer {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-container {
        position: relative;
        margin-top: 2rem;
    }

    footer {
        padding: 2rem 0 2.4rem;
    }

    footer .row {
        text-align: center;
        gap: 1rem;
    }

    footer .text-end {
        justify-content: center;
    }
}

@media (max-width: 680px) {
    .input-control .input-search-icon {
        top: 0.7rem;
        height: auto;
    }

    .btn-group {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

    .btn-group > .btn {
        height: 34px;
        overflow: hidden;
    }

    #toggleNav {
        position: relative;
        top: 0;
        left: 0;
        border-radius: var(--br-sm);
        margin-top: 1rem;
    }

    #recentSearches {
        grid-template-columns: repeat(1, 1fr);
    }

    .handbook-item .preset-available .preset-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .handbook-side {
        flex-direction: column;
    }

    #achievementsContainer .body {
        grid-template-columns: repeat(1, 1fr);
    }

    #craftsContainer .body {
        grid-template-columns: repeat(1, 1fr);
    }

    #bulkContainer .bulk-output:has(div) {
        grid-template-columns: repeat(1, 1fr);
    }
}